.worktable {
    margin: 5px 5px;
}

.workurl {
    
}

.workprogress {
    width: 100%;
    background-color: grey;
}

.workbar {
    width: 1%;
    height: 10px;
    background-color: orangered;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.workinnertable {
    margin: 15px 15px;
}

.acentered {
    display: block;
    text-align: center;
}